<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    {{> nav }}

    <main>
        <h1>Post a New Comment</h1>
        {{#if error}}
            <p style="color:red">{{error}}</p>
        {{/if}}
        <form action="/comments" method="POST">
            <label>Comment:</label>
            <textarea name="text" required></textarea>
            <br>
            <button type="submit">Post Comment</button>
        </form>
    </main>

    {{> footer}}
</body>
</html>

