<!-- NavBar has all GET requests (required pages) -->
<header>
    <nav>
	<a href="/">Home</a> |
	<a href="/register">Register</a> |
	<a href="/login">Login</a> |
	<a href="/comments">Comments</a> |
	<a href="/comment/new">New Comment</a>
    </nav>
</header>

